* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f2e0b9;
}


header {
    background-color: #73441e;
    color: white;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Portfolio Logo */
#nav_portfolio a {
    text-decoration: none;
    color: rgb(245, 216, 186);
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 5px;
    font-family: "myfont", Arial, sans-serif;
}

/* Custom Fonts */
@font-face {
    font-family: "myfont";
    src: url("First Bunny.otf") format("opentype");
}

@font-face {
    font-family: "info";
    src: url("Candy Beans.otf") format("opentype");
}

/* Navigation */
nav ul {
    list-style: none;
    display: flex;
    gap: 60px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(227, 197, 172);
    font-size: 30px;
    transition: 0.3s;
    font-family: "myfont", Arial, sans-serif;
}

nav ul li a:hover {
    color: #ff9bcf;
}


.profile-container {
    display: flex;
    align-items: flex-start;
    padding: 30px;
    gap: 30px;
    flex-wrap: wrap;
}

.profile {
    width: 300px;
    border-radius: 8px;
    border: 10px solid #754c32;
}

.profile-info {
    background-color: rgb(255, 243, 225);
    text-shadow: 5px 5px 5px rgb(255, 255, 255);
    padding: 20px;
    display: flex;
    width: 810px;
    height: 350px;
    flex-direction: column;
    border-radius: 25px;
    justify-content: center;
    font-size: 35px;
    gap: 40px;
    margin-top: 1vh;
    color: #754c32;
    font-family: "info", Arial, sans-serif;
}

.aboutme {
    max-width: 850px;
    margin-left: 30px;
    padding: 15px;
    font-size: 20px;
    line-height: 1.8;
    color: #754c32;
    background-color: rgb(255, 243, 225); 
    border-radius: 20px;
    font-family: "info", Arial, sans-serif;

}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        gap: 10px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .profile {
        width: 80px;
    }
}